:root {
    --icon-filter: none;
}

[data-color-scheme="dark"] {
    --icon-filter: invert(1) brightness(1.2);
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}