:root {
    --icon-filter: none;
}

[data-color-scheme="dark"] {
    --icon-filter: invert(1) brightness(1.2);
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

body {
    background-color: #27222d;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23b2b2b2' fill-opacity='0.17'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}